<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668408229592-e21q95tl5st7ammncql5n11045ptrcfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668408229592-e21q95tl5st7ammncql5n11045ptrcfr</string>
	<key>API_KEY</key>
	<string>AIzaSyAbruWXZwEFmsDp8srOwelMhrecOoL5K2g</string>
	<key>GCM_SENDER_ID</key>
	<string>668408229592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rent.anystuff</string>
	<key>PROJECT_ID</key>
	<string>any-stuff-rent</string>
	<key>STORAGE_BUCKET</key>
	<string>any-stuff-rent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668408229592:ios:2989755ac624fe1c2b31ad</string>
</dict>
</plist>