<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726203508641-si7mll5fv24pv6ock9b3kuilk3ut5qcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726203508641-si7mll5fv24pv6ock9b3kuilk3ut5qcj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>726203508641-0f80oe37215thgbulceh5kq7k96psdeu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIcXxXKzVDKFujRlJWd_lqLfe4OBTMnos</string>
	<key>GCM_SENDER_ID</key>
	<string>726203508641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amico.anystuff</string>
	<key>PROJECT_ID</key>
	<string>gpstore-user-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gpstore-user-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726203508641:ios:0a932038547656471b8de0</string>
</dict>
</plist>